body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(34, 203, 209);
  text-align: center;
  font-size: 30px; 
  
}

.bonkers{
  background-color: rgb(34, 203, 209);
}

.toyota{
  background: rgb(34, 203, 209);
}

.Hoco{
  background-color: rgb(34, 203, 209);
}

.bigBoy{
  text-decoration-color: white;
}

ul{
  list-style-type: none;
}

.container{
  background: rgb(34, 203, 209);
  padding-bottom: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
